/* header.component.css */
.app-header {
    background-color: #fff;
    color: rgb(11, 11, 11);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

  }
  
  .logo {
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-family: monospace;
    text-decoration: none;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  nav li {
    margin-right: 15px;
  }
  
  nav{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-family: monospace;
    font-weight: small;
    font-size: 16px;
    transition: color 0.3s ease; /* Smooth color transition on hover */
   
  }

  .nav-toggler{
    display: none;
    background-color: transparent;
    border: none;
    font-size: 20px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    transition: color 0.3s ease; /* Smooth color transition on hover */
      
  }
  .nav-toggler:hover {
    color: #ffcc00;
  }

  
  nav a:hover {
    color: #ffcc00;
    cursor: pointer;
  }
  
  /* Add styles for the typing effect */
.app-header .logo::after {
  content: "|"; /* Blinking cursor after the logo text */
  animation: blink 0.7s infinite alternate;
}

@keyframes blink {
  to {
    opacity: 0;
  }
}

/* Add typing animation styles */
.typing-effect span {
  opacity: 0;
  animation: typing 2s steps(30) infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    opacity: 1;
    width: auto;
  }
}
@media (max-width: 768px) {
  .app-header {

    align-items: flex-start;
    position: relative;
  }

  .logo {
    margin-top: 10px;
  }
  .nav-toggler {
    display: block;
    margin-left: 50%;
    margin-top: 10px;
    position: relative;
    z-index: 1;
  }
  nav {
  
    position: absolute; /* Position the dropdown menu absolutely */
    top: 85%; /* Position it at the bottom of the toggler */
    right: 0; /* Align it to the left of the header */
    width: 30%; /* Make it span the full width of the header */
    background-color: #ffffff;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
    transition: opacity 0.3s ease; /* Smooth transition for visibility */
    opacity: 0; /* Initially hide the menu */
  }

  nav.open {
    opacity: 1; /* Show the menu when open class is applied */
  }

  nav ul {
    display: flex;
    flex-direction:column;
    padding: 10px;
    margin: 10px;
    justify-content: center;
    max-height: 100vh;
    overflow-y: auto;
  }
  nav li {
    margin-right: 15px;
    margin-bottom: 20px; 
    transition: opacity 0.3s ease;
    opacity: 1;
}

  nav a {
    margin-right: 10px;
    margin-bottom: 10px; 
    transition: color 0.3s ease; 
  }

  nav.open a:hover {
    color: #ffcc00;
  }
}