body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
  }

  .app-footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
  }

  .footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }
  .social-links{
    margin-right: 20px;
  }

  .social-links a {
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
    font-size: 20px;
  }
  .social-links a:hover{
    color: gold;
  }

  .bio,
  .contact-details {
    flex: 1;
    margin-left: 30px;
  }

  .page-links {

    text-align: center;
    margin: 20px;
  }

  .page-links ul {
    color: antiquewhite;
    list-style: none;
    padding: 0;
  }

  .page-links li {
    display: inline-block;
    margin: 0 10px;
  }
  .page-links li a{
    color: aliceblue;
  }
  .page-links li a:hover{
    color: gold;
  }

  @media (max-width: 768px) {
    .footer-content {
      flex-direction: column;
      align-items:center;
    }

    .social-links {
      margin-bottom: 20px;
    }

    .bio,
    .contact-details {
      width: 100%;
      margin: 0;
    }

    .page-links {
      text-align: center;
      margin-top: 10px;
      
      li{
        margin-top: 10px;
      }
    }
   
  }
