<footer class="app-footer">
    <div class="footer-content">
        <div class="social-links">
            <a href="https://twitter.com/spanexx_" target="_blank" rel="noopener noreferrer"><i class="fab fa-twitter"></i></a>
            <a href="https://www.linkedin.com/in/victor-ani-22326b8a/" target="_blank" rel="noopener noreferrer"><i class="fab fa-linkedin"></i></a>
            <a href="https://github.com/spanexx" target="_blank" rel="noopener noreferrer"><i class="fab fa-github"></i></a>
            <a href="https://www.facebook.com/spanexx" target="_blank" rel="noopener noreferrer"><i class="fab fa-facebook"></i></a>
            <a href="https://www.tiktok.com/@officialspanexx" target="_blank" rel="noopener noreferrer"><i class="fab fa-tiktok"></i></a>
            <a href="https://www.instagram.com/span.exx_" target="_blank" rel="noopener noreferrer"><i class="fab fa-instagram"></i></a>
            <a href="https://www.youtube.com/channel/UCD16s1xWZlstBNxpICjxLvw" target="_blank" rel="noopener noreferrer"><i class="fab fa-youtube"></i></a>
        </div>

        <div class="bio">
            <p>
                Welcome to my portfolio! I'm passionate about web development and creating meaningful digital experiences.
            </p>
        </div>

        <div class="contact-details">
            <p>
                <strong>Email:</strong> spanexxvictor&#64;gmail.com<br>
                <strong>Phone:</strong> (+357) 95795991 (Mobile)<br>
                <strong>Address:</strong> Stary Mokotów Warsaw Poland
            </p>
        </div>
        
    </div>
    <div class="page-links">
        <ul>
            <li><a routerLink="/about-me">About Me</a></li>
            <li><a routerLink="/experience">Experience</a></li>
            <li><a routerLink="/education">Education</a></li>
            <li><a routerLink="/skills">Skills</a></li>
            <li><a routerLink="/projects">Projects</a></li>
            <li><a routerLink="/contact">Contact</a></li>
        </ul>
    </div>
</footer>
