  <!-- about-me.component.html -->
<div>

<section class="about-me">
  <div class="container">
    <div class="profile-image">

      <img [src]="profileImage" alt="{{ name }}">

    </div>
    <div class="about-content">
      <h1>About Me</h1>
      <p>
        Hello, I'm <span class="highlight">{{name}}</span>. Passionate about web development and
        creating meaningful digital experiences. I specialize in <span class="highlight">{{skills[0]}}</span>, 
        <span class="highlight">{{skills[1]}}</span>, <span class="highlight">{{skills[2]}}</span>,
        <span class="highlight">{{skills[3]}}</span>, <span class="highlight">{{skills[4]}}</span>, <span class="highlight">{{skills[5]}}</span>. <br>
        Let's build something amazing together!
        <br>

      <a routerLink="/projects" class="cta-button">View Projects</a>
    </div>
  </div>
</section>
<app-education></app-education>
<app-skills></app-skills>


  </div>
  