<div class="icon-container" [ngClass]="{'expanded': isExpanded}">
  <div class="icon-container-home icon">
    <app-home [showIcon]="homeIcon"></app-home>    
    <i class="fa fa-caret-down" #arrowDown></i>
  </div>
  <div class="dropdown-content">
    <app-contact-icon [showIcon]="contactIcon" class="icon"></app-contact-icon>
    <app-education-icon [showIcon]="educationIcon" class="icon"></app-education-icon>
    <app-experience-icon [showIcon]="experienceIcon" class="icon"></app-experience-icon>
    <app-projects-icon [showIcon]="projectIcon" class="icon"></app-projects-icon>
    <app-skill-icon [showIcon]="skillIcon" class="icon"></app-skill-icon>
  </div>
</div>
