/* Add these styles to your global or component-specific CSS file */
.project-detail-info-overlay {
  transform: translateX(-50%);
  bottom: 0;
  left: 50%;
  width: 80%; /* Adjust the width as needed */
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  text-align: center;
}

.project-detail-image {
  width: 100%; /* Set the image width to 100% of its container */
  height: 600px; /* Set a maximum height for the image to avoid stretching */
  object-fit: cover; /* Maintain the image aspect ratio and cover the container */
}