@import '../node_modules/@fortawesome/fontawesome-free/css/all.css';
@import 'bootstrap/dist/css/bootstrap.min.css';





body{
    margin: 0px;
    padding: 0px;
    font-family: monospace;
    
}

a{
    text-decoration: none;
    list-style: none;
}

a:hover{
    color: rgb(163, 177, 177);
}

